{% raw %}
<!doctype html>
<html lang="en" ng-app="modcp">
<head>
    <meta charset="utf-8">
    <title>Minecraft ModCP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="vendor/flat-ui/bootstrap/css/bootstrap.css">
    <link href="vendor/flat-ui/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/flat-ui/css/flat-ui.css">
    <link rel="stylesheet" href="css/app.css">


    <script src="socket.io/socket.io.js"></script>

    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-translate/angular-translate.js"></script>
    <script src="vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="vendor/angular-webstorage.js"></script>

    <script src="app/js/app.js"></script>
    <script src="app/js/LoginCtrl.js"></script>
    <script src="app/js/DashboardCtrl.js"></script>

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="vendor/flat-ui/js/bootstrap.min.js"></script>

    <script src="vendor/flot/jquery.flot.js"></script>
    <script src="vendor/flot/jquery.flot.time.js"></script>
    <script src="vendor/flot/jquery.flot.resize.js"></script>
</head>
<body ng-view>

</body>
</html>
{% endraw %}