{% raw %}
<!doctype html>
<html lang="en" ng-app="modcp">
<head>
    <meta charset="utf-8">
    <title>Minecraft ModCP</title>
    <link rel="stylesheet" href="vendor/flat-ui/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/flat-ui/css/flat-ui.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="socket.io/socket.io.js"></script>

    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-translate/angular-translate.js"></script>
    <script src="vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>

    <script src="app/js/app.js"></script>
    <script src="app/js/LoginCtrl.js"></script>
</head>
<body ng-view>

</body>
</html>
{% endraw %}