/**
 * General
 */

body {
  background: #ecf0f1;
}

.mcp-contentcontainer {
  margin-top: 90px;
}

@media (max-width: 768px) {
  .mcp-contentcontainer {
    margin-top: 0px;
  }
}

/*Navbar*/

.mcp-navpill {
  margin-top: 7px;
}

.mcp-nav {
  padding: 0px;
}

.mcp-nav .panel-heading {
  margin: 0px 0px 0px 0px;
}

@media (max-width: 768px) {
  .mcp-navbar {
    position: relative;
  }
  .mcp-navbar .mcp-navpill {
    position: absolute;
    left: 15px;
    top: 0px
  }
}

/**
 * Login Screen
 */

.mcp-login-box {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 1px 1px rgba(0,0,0,.15);
}

.mcp-tabs li a:first-letter {
    text-transform: uppercase;
}

/**
 * Dashboard
 */

.mcp-avatarwrapper {
  margin: 3px;
  background: transparent url('../images/loader.gif') no-repeat center center;
  display: inline-block;
  width: 24px;
  height: 24px;
}