body {
    background: #2C3E50;
}

.login-screen {
    background: #2C3E50;
}
.login-form>.btn-toolbar
{

}
.login-icon {
    text-align: center;
}

.btn-primary img {
    max-width: 32px;
    max-height: 32px;
}