<div class="mcp-navbar navbar navbar-fixed-top">
    <div class="container">
        <a href="/#/dashboard" class="navbar-brand">ModCP</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/#/dashboard">{{ 'DASHBOARD__NAV__DASHBOARD' | translate }}</a>
                </li>
            </ul>            
        </div>

        <ul class="nav pull-right nav-pills mcp-navpill">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><img src="https://minotar.net/avatar/{{ user.mcname }}/24" class="mcp-avatar"> {{ user.mcname }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">{{ 'DASHBOARD__NAV__PILL__E-MAIL' | translate }}: {{ user.email }}</li>
                    <li class="dropdown-header">{{ user.joined_groups }}</li>
                    <li class="divider">
                    <li><a tabindex="-1" href="/#/">{{ 'DASHBOARD__NAV__PILL__LOGOUT' | translate }}</a></li>                       
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="container mcp-contentcontainer">
    <div class="row">
        <div class="col-lg-3">
            <div class="panel mcp-nav">
                <div class="panel-heading">{{ 'DASHBOARD__NAVIGATION__NAVIGATION' | translate }}</div>
                <ul class="nav">    
                    <li>
                        <a href="#"><span class="famfamfam">{{ 'DASHBOARD__NAVIGATION__DUMMYMENU_ONE' | translate }}</span></a>
                        <ul class="nav">
                            <li><a href="#">{{ 'DASHBOARD__NAVIGATION__DUMMYMENU_ONE_ONE' | translate }}</a></li>
                            <li><a href="#">{{ 'DASHBOARD__NAVIGATION__DUMMYMENU_ONE_TWO' | translate }}</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">{{ 'DASHBOARD__NAVIGATION__DUMMYMENU_TWO' | translate }}</a>
                    </li>
                </ul>
            </div>
            <div class="panel">
              <div class="panel-heading">{{ 'DASHBOARD__NAVIGATION__ONLINE_PLAYERS' | translate }}</div>

                <div class="mcp-avatarwrapper">
                    <img src="https://minotar.net/avatar/{{ user.mcname }}/24">
                </div>
                <div class="mcp-avatarwrapper">
                    <img src="https://minotar.net/avatar/frdmn/24">
                </div>
                <div class="mcp-avatarwrapper">
                    <img src="https://minotar.net/avatar/TheAustrianPro/24">
                </div>
                <div class="mcp-avatarwrapper">
                    <img src="https://minotar.net/avatar/edrd33/24">
                </div>
                <div class="mcp-avatarwrapper">
                    <img src="https://minotar.net/avatar/Notch/24">
                </div>
                <div class="mcp-avatarwrapper">
                    <img src="https://minotar.net/avatar/Jeb_/24">
                </div>
                <div class="mcp-avatarwrapper">
                    <img src="https://minotar.net/avatar/Test/24">
                </div>
                <div class="mcp-avatarwrapper">
                    <img src="https://minotar.net/avatar/Herobrine/24">
                </div>
                <div class="mcp-avatarwrapper">
                    <img src="https://minotar.net/avatar/God/24">
                </div>
                <div class="mcp-avatarwrapper">
                    <img src="https://minotar.net/avatar/Complex_City/24">
                </div>
                <div class="mcp-avatarwrapper">
                    <img src="https://minotar.net/avatar/kjortmobile/24">
                </div>
                <div class="mcp-avatarwrapper">
                    <img src="https://minotar.net/avatar/Yepoleb/24">
                </div>
                <div class="mcp-avatarwrapper">
                    <img src="https://minotar.net/avatar/Purpleppleaters/24">
                </div>
                <div class="mcp-avatarwrapper">
                    <img src="https://minotar.net/avatar/RAB5804/24">
                </div>
            </div>
        </div>

        <div class="col-lg-9">
            <ul class="breadcrumb">
              <li><a href="#">ModCP</a></li>
              <li class="active">{{ 'DASHBOARD__NAV__DASHBOARD' | translate }}</li>
            </ul>

            <div class="panel">
                <h4>{{ 'DASHBOARD__NAV__DASHBOARD' | translate }}</h4>
                <div class="alert alert-danger" ng-repeat="server in servers" ng-show="server.playerCount == -1">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>{{ server.label }}</strong> {{ 'DASHBOARD__NOTIFICATION__OFFLINE_SERVER' | translate }}.
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ 'DASHBOARD__PANEL__SERVER_STATUS' | translate }}</h3>
                            </div>
                            <div class="btn {{ server.playerCount != -1 && 'btn-success' || 'btn-danger' }} btn-small mcp-serverstatuspill" ng-repeat="server in servers">{{ server.label }} <span class="badge">{{ server.playerCount != -1 && '' + server.playerCount + '' || 'DASHBOARD__PANEL__SERVER_STATUS__OFFLINE' | translate }}</span></div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Another widget</h3>
                            </div>
                            With some cool things inside
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ 'DASHBOARD__PANEL__ONLINE_PLAYERS' | translate }}</h3>
                            </div>
                            <div id="playerOnlineCount" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>