<div class="container">
    <div class="login">
        <div class="login-screen">
            <div class="login-icon">
                <img src="images/logo.png" alt="{{ 'WELCOME_TO' | translate }} {{ name }}">
                <h4>{{ 'WELCOME_TO' | translate }}<small>{{ name }}</small></h4>
            </div>

            <div class="login-form">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a ng-repeat="provider in providers" class="btn btn-primary {{selectedProvider==provider && 'active' || ''}}" href="#/login/{{ provider }}"><img src="images/login_provider/{{ provider }}.png" title="{{ 'LOGIN_PROVIDER_' + provider | translate }}" /></a>
                    </div>
                </div>

                <div class="alert alert-error" ng-show="user.invalid">{{ 'USER_OR_PASS_WRONG' | translate }}</div>
                <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>

                <div class="control-group {{user.error && 'error' || '' }}">
                    <input type="text" class="login-field" placeholder="{{ 'ENTER_YOUR_EMAIL' | translate }}" ng-click="reset()" ng-model="user.email" id="login-name">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>

                <div class="control-group {{user.error && 'error' || '' }}">
                    <input type="password" class="login-field" placeholder="{{ 'ENTER_YOUR_PASS' | translate }}" ng-click="reset()" ng-model="user.password" id="login-pass">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>

                <button class="btn btn-primary btn-large btn-block" ng-click="login(user)">{{ 'LOGIN' | translate }}</button>
                <a class="login-link" href="#/lostpass">{{ 'LOST_PASSWORD' | translate }}</a>
            </div>
        </div>
    </div>
</div>